# editorconfig.org
root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

ij_javascript_spaces_within_array_initializer_brackets = true
ij_javascript_enforce_trailing_comma = remove
ij_javascript_force_semicolon_style = true
ij_javascript_use_double_quotes = false
ij_javascript_use_semicolon_after_statement = false

[*.{yml,yaml,json}]
indent_style = space
