{
  "include": [
    "components/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "html",
    "text"
  ],
  "sourceMap": false,
  "instrument": true,
  "all": true
}
