version: '2.1'

services:
  api:
    build:
      context: .
      dockerfile: ./apps/server/Dockerfile
      args:
        - NPM_TOKEN
    networks:
      - internal
    depends_on:
      - postgres
      - redis
      - tick
      - worker_1
      - worker_2
      - balena-mdns-publisher
    environment:
      - DATABASE=postgres
      - LOGENTRIES_TOKEN
      - LOGENTRIES_REGION
      - LOGLEVEL=crit
      - NODE_ENV
      - POD_NAME=localhost
      - PORT=80
      - POSTGRES_DATABASE=jellyfish
      - POSTGRES_HOST=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_PORT=5432
      - POSTGRES_USER=docker
      - REDIS_HOST=redis
      - REDIS_PASSWORD=
      - REDIS_PORT=6379
      - SENTRY_DSN_SERVER
      - SERVER_DATABASE=jellyfish
      - SERVER_HOST=http://api.ly.fish.local
      - SERVER_PORT=80
      - TEST_USER_ORGANIZATION=balena
      - TEST_USER_PASSWORD=jellyfish
      - TEST_USER_ROLE=user-test
      - TEST_USER_USERNAME=jellyfish
      - FS_DRIVER
      - AWS_ACCESS_KEY_ID
      - AWS_S3_BUCKET_NAME
      - AWS_SECRET_ACCESS_KEY
      - INTEGRATION_BALENA_API_APP_ID
      - INTEGRATION_BALENA_API_APP_SECRET
      - INTEGRATION_BALENA_API_OAUTH_BASE_URL=https://api.balena-cloud.com
      - INTEGRATION_BALENA_API_PRIVATE_KEY
      - INTEGRATION_BALENA_API_PUBLIC_KEY_PRODUCTION
      - INTEGRATION_BALENA_API_PUBLIC_KEY_STAGING=foobar
      - INTEGRATION_DEFAULT_USER
      - INTEGRATION_DISCOURSE_SIGNATURE_KEY
      - INTEGRATION_DISCOURSE_TOKEN
      - INTEGRATION_DISCOURSE_USERNAME
      - INTEGRATION_FLOWDOCK_SIGNATURE_KEY
      - INTEGRATION_FLOWDOCK_TOKEN
      - INTEGRATION_FRONT_TOKEN
      - INTEGRATION_GITHUB_APP_ID
      - INTEGRATION_GITHUB_PRIVATE_KEY
      - INTEGRATION_GITHUB_SIGNATURE_KEY
      - INTEGRATION_GITHUB_TOKEN
      - INTEGRATION_GOOGLE_MEET_CREDENTIALS
      - INTEGRATION_INTERCOM_TOKEN
      - INTEGRATION_OUTREACH_APP_ID
      - INTEGRATION_OUTREACH_APP_SECRET
      - INTEGRATION_OUTREACH_SIGNATURE_KEY
      - INTEGRATION_TYPEFORM_SIGNATURE_KEY
      - MAILGUN_DOMAIN
      - MAILGUN_BASE_URL
      - MAILGUN_TOKEN
      - MONITOR_SECRET_TOKEN
      - NPM_TOKEN
      - RESET_PASSWORD_SECRET_TOKEN
      - CI
      - REGISTRY_TOKEN_AUTH_CERT_ISSUER=api.ly.fish.local
      - REGISTRY_TOKEN_AUTH_CERT_KEY="LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSU4xWUw1WVRjb3NVVnhHdXlXMGt4cGE0ekxzbEpGQ2JvZUxIUWlpaW1vTkhvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFR0RRQ2FpK1FnNG9GZE9HMXZNdWdtMFA5bTViSUR3R29MNjg1aGVYR0hwZWJVblgxOGQvYwpQUTZGbDBQaklQam9iUzlCNW5oSTF1Y0p3MW8vclE2UXdnPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo="
      - REGISTRY_TOKEN_AUTH_CERT_KID="UkNVNTo2Q1RaOkJITjc6RlBCUjpKWUJIOjVHRVI6QVdQSDpIRk9aOjZaT0c6VVUzTzo3Q0gzOjZFU0sK"
      - REGISTRY_TOKEN_AUTH_JWT_ALGO=ES256
      - REGISTRY_HOST=registry.ly.fish.local
    healthcheck:
      interval: 30s
      retries: 5
      test:
        - CMD
        - curl
        - --fail
        - http://localhost:80/health
      timeout: 10s
    expose:
      - 80
    ports:
      - 9229
    restart: always
    labels:
      - "traefik.http.routers.api.rule=HostRegexp(`api.ly.fish.local`,`api.{uuid:[a-z0-9]+}.balena-devices.com`)"
      - "traefik.http.services.api-service.loadbalancer.server.port=80"
      - "traefik.enable=true"
  livechat:
    build:
      args:
        - SENTRY_DSN_UI='0'
        - SERVER_HOST=http://api.ly.fish.local
        - SERVER_PORT=80
        - NPM_TOKEN
      context: .
      dockerfile: ./apps/livechat/Dockerfile
    depends_on:
      - api
      - balena-mdns-publisher
    networks:
      - internal
    environment:
      - NGINX_PORT=80
      - LIVECHAT_PORT=80
    labels:
      - "traefik.http.routers.livechat.rule=HostRegexp(`livechat.ly.fish.local`)"
      - "traefik.http.services.livechat-service.loadbalancer.server.port=80"
      - "traefik.enable=true"
  postgres:
    image: balena/open-balena-db:4.1.0
    restart: always
    networks:
      - internal
    labels:
      - "traefik.tcp.routers.postgres.rule=HostSNI(`postgres.ly.fish.local`)"
      - "traefik.tcp.services.postgres-service.loadbalancer.server.port=5432"
      - "traefik.enable=true"
  redis:
    image: balena/balena-redis:0.0.3
    command: [sh, -c, "redis-server /usr/local/etc/redis/redis.conf --save ''"]
    restart: always
    networks:
      - internal
    labels:
      - "traefik.tcp.routers.redis.rule=HostSNI(`redis.ly.fish.local`)"
      - "traefik.tcp.services.redis-service.loadbalancer.server.port=6379"
      - "traefik.enable=true"
  tick:
    build:
      context: .
      dockerfile: ./apps/action-server/Dockerfile.tick
      args:
        - NPM_TOKEN
    depends_on:
      - postgres
      - redis
      - balena-mdns-publisher
    environment:
      - DATABASE=postgres
      - LOGENTRIES_TOKEN
      - LOGENTRIES_REGION
      - NODE_ENV
      - POSTGRES_DATABASE=jellyfish
      - POSTGRES_HOST=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_PORT=5432
      - POSTGRES_USER=docker
      - REDIS_HOST=redis
      - REDIS_PASSWORD=
      - REDIS_PORT=6379
      - LOGLEVEL=crit
      - SENTRY_DSN_SERVER
      - CI
    restart: always
    networks:
      - internal
    ports:
      - 9230:9229
  ui:
    build:
      args:
        - NPM_TOKEN
      context: .
      dockerfile: ./apps/ui/Dockerfile
    depends_on:
      - api
      - balena-mdns-publisher
    environment:
      - SENTRY_DSN_UI='0'
      - SERVER_HOST=http://api.ly.fish.local
      - SERVER_PORT=80
      - NGINX_PORT=80
      - UI_PORT=80
      - NODE_ENV
    networks:
      - internal
    labels:
      - "traefik.http.routers.ui.rule=HostRegexp(`jel.ly.fish.local`,`jel.{uuid:[a-z0-9]+}.balena-devices.com`)"
      - "traefik.http.services.ui-service.loadbalancer.server.port=80"
      - "traefik.enable=true"
  worker_1:
    build:
      context: .
      dockerfile: ./apps/action-server/Dockerfile.worker
      args:
        - NPM_TOKEN
    depends_on:
      - postgres
      - redis
      - balena-mdns-publisher
      - tick
    environment:
      - DATABASE=postgres
      - LOGLEVEL=crit
      - NODE_ENV
      - POSTGRES_DATABASE=jellyfish
      - POSTGRES_HOST=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_PORT=5432
      - POSTGRES_USER=docker
      - REDIS_HOST=redis
      - REDIS_PASSWORD=
      - REDIS_PORT=6379
      - SENTRY_DSN_SERVER
      - LOGENTRIES_TOKEN
      - LOGENTRIES_REGION
      - FS_DRIVER
      - AWS_ACCESS_KEY_ID
      - AWS_S3_BUCKET_NAME
      - AWS_SECRET_ACCESS_KEY
      - INTEGRATION_BALENA_API_APP_ID
      - INTEGRATION_BALENA_API_APP_SECRET
      - INTEGRATION_BALENA_API_OAUTH_BASE_URL=https://api.balena-cloud.com
      - INTEGRATION_BALENA_API_PRIVATE_KEY
      - INTEGRATION_BALENA_API_PUBLIC_KEY_PRODUCTION
      - INTEGRATION_BALENA_API_PUBLIC_KEY_STAGING=foobar
      - INTEGRATION_DEFAULT_USER
      - INTEGRATION_DISCOURSE_SIGNATURE_KEY
      - INTEGRATION_DISCOURSE_TOKEN
      - INTEGRATION_DISCOURSE_USERNAME
      - INTEGRATION_FLOWDOCK_SIGNATURE_KEY
      - INTEGRATION_FLOWDOCK_TOKEN
      - INTEGRATION_FRONT_TOKEN
      - INTEGRATION_GITHUB_APP_ID
      - INTEGRATION_GITHUB_PRIVATE_KEY
      - INTEGRATION_GITHUB_SIGNATURE_KEY
      - INTEGRATION_GITHUB_TOKEN
      - INTEGRATION_GOOGLE_MEET_CREDENTIALS
      - INTEGRATION_INTERCOM_TOKEN
      - INTEGRATION_OUTREACH_APP_ID
      - INTEGRATION_OUTREACH_APP_SECRET
      - INTEGRATION_OUTREACH_SIGNATURE_KEY
      - INTEGRATION_TYPEFORM_SIGNATURE_KEY
      - MAILGUN_DOMAIN
      - MAILGUN_BASE_URL
      - MAILGUN_TOKEN
      - MONITOR_SECRET_TOKEN
      - NPM_TOKEN
      - RESET_PASSWORD_SECRET_TOKEN
      - CI
    restart: always
    networks:
      - internal
    ports:
      - 9231:9229
  worker_2:
    build:
      context: .
      dockerfile: ./apps/action-server/Dockerfile.worker
      args:
        - NPM_TOKEN
    depends_on:
      - postgres
      - redis
      - balena-mdns-publisher
      - tick
    environment:
      - DATABASE=postgres
      - LOGLEVEL=crit
      - NODE_ENV
      - POSTGRES_DATABASE=jellyfish
      - POSTGRES_HOST=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_PORT=5432
      - POSTGRES_USER=docker
      - REDIS_HOST=redis
      - REDIS_PASSWORD=
      - REDIS_PORT=6379
      - SENTRY_DSN_SERVER
      - LOGENTRIES_TOKEN
      - LOGENTRIES_REGION
      - FS_DRIVER
      - AWS_ACCESS_KEY_ID
      - AWS_S3_BUCKET_NAME
      - AWS_SECRET_ACCESS_KEY
      - INTEGRATION_BALENA_API_APP_ID
      - INTEGRATION_BALENA_API_APP_SECRET
      - INTEGRATION_BALENA_API_OAUTH_BASE_URL=https://api.balena-cloud.com
      - INTEGRATION_BALENA_API_PRIVATE_KEY
      - INTEGRATION_BALENA_API_PUBLIC_KEY_PRODUCTION
      - INTEGRATION_BALENA_API_PUBLIC_KEY_STAGING=foobar
      - INTEGRATION_DEFAULT_USER
      - INTEGRATION_DISCOURSE_SIGNATURE_KEY
      - INTEGRATION_DISCOURSE_TOKEN
      - INTEGRATION_DISCOURSE_USERNAME
      - INTEGRATION_FLOWDOCK_SIGNATURE_KEY
      - INTEGRATION_FLOWDOCK_TOKEN
      - INTEGRATION_FRONT_TOKEN
      - INTEGRATION_GITHUB_APP_ID
      - INTEGRATION_GITHUB_PRIVATE_KEY
      - INTEGRATION_GITHUB_SIGNATURE_KEY
      - INTEGRATION_GITHUB_TOKEN
      - INTEGRATION_GOOGLE_MEET_CREDENTIALS
      - INTEGRATION_INTERCOM_TOKEN
      - INTEGRATION_OUTREACH_APP_ID
      - INTEGRATION_OUTREACH_APP_SECRET
      - INTEGRATION_OUTREACH_SIGNATURE_KEY
      - INTEGRATION_TYPEFORM_SIGNATURE_KEY
      - MAILGUN_DOMAIN
      - MAILGUN_BASE_URL
      - MAILGUN_TOKEN
      - MONITOR_SECRET_TOKEN
      - NPM_TOKEN
      - RESET_PASSWORD_SECRET_TOKEN
      - CI
    restart: always
    networks:
      - internal
    ports:
      - 9232:9229
  balena-mdns-publisher:
    image: 'balena/balena-mdns-publisher:master'
    network_mode: host
    cap_add:
      - SYS_RESOURCE
      - SYS_ADMIN
    security_opt:
      - 'apparmor=unconfined'
    tmpfs:
      - /run
      - /sys/fs/cgroup
    labels:
      io.balena.features.dbus: '1'
      io.balena.features.supervisor-api: '1'
    environment:
      MDNS_TLD: ly.fish.local
      MDNS_SUBDOMAINS: >-
        ["jel", "livechat", "api", "registry"]
      DBUS_SESSION_BUS_ADDRESS: 'unix:path=/host/run/dbus/system_bus_socket'
      CONFD_BACKEND: 'ENV'
  reverse-proxy:
    image: traefik:v2.4
    command: --api.insecure=true --providers.docker --providers.docker.endpoint="unix:///var/run/balena.sock" --providers.docker.exposedByDefault=false
    ports:
      - "80:80/tcp"
      - '5432:5432/tcp'
      - '6379:6379/tcp'
    labels:
      io.balena.features.balena-socket: true
    depends_on:
          - worker_1
          - worker_2
          - ui
          - tick
          - livechat
          - api
          - balena-mdns-publisher
  # haproxy:
  #   image: 'balena/open-balena-haproxy:2.11.3'
  #   cap_add:
  #     - SYS_RESOURCE
  #     - SYS_ADMIN
  #   security_opt:
  #     - 'apparmor=unconfined'
  #   tmpfs:
  #     - /run
  #     - /sys/fs/cgroup
  #   depends_on:
  #     - worker_1
  #     - worker_2
  #     - ui
  #     - tick
  #     - livechat
  #     - api
  #     - balena-mdns-publisher
  #   ports:
  #     - '80:80'
  #     - '5432:5432'
  #     - '6379:6379'
    networks:
      internal:
        aliases:
          - jel.ly.fish.local
          - livechat.ly.fish.local
          - api.ly.fish.local
          - postgres.ly.fish.local
          - redis.ly.fish.local
    environment:
      DOMAIN_INC_UUID: 'false'
      AUTOGENERATE_CERTS: 'false'
      AUTH_TOKEN: <token>
      STATIC_DNS_IP: <ip>
      CONFD_BACKEND: 'ENV'
      PROXY_CONFIG: ewoJImRlZmF1bHRzIjogWwoJCSJ0aW1lb3V0IGNvbm5lY3QgNTAwMCIsCgkJInRpbWVvdXQgY2xpZW50IDYwMDAwIiwKCQkidGltZW91dCBzZXJ2ZXIgNjAwMDAiLAoJCSJkZWZhdWx0LXNlcnZlciBpbml0LWFkZHIgbGFzdCxsaWJjLG5vbmUiCgldLAoJInJlc29sdmVycyI6IFsKCQl7CgkJCSJpZCI6ICJkb2NrZXItYnJpZGdlLXJlc29sdmVyIiwKCQkJIm5hbWVzZXJ2ZXJzIjogewoJCQkJImRvY2tlci1yZXNvbHZlciI6ICIxMjcuMC4wLjExOjUzIgoJCQl9LAoJCQkiaG9sZCI6IHsKCQkJCSJ2YWxpZCI6ICIwbXMiCgkJCX0KCQl9CgldLAoJInVpIjogewoJCSJiYWNrZW5kIjogWwoJCQl7CgkJCQkidXJsIjogImh0dHA6Ly91aTo4MCIsCgkJCQkic2VydmVyIjogewoJCQkJCSJyZXNvbHZlcnMiOiAiZG9ja2VyLWJyaWRnZS1yZXNvbHZlciIsCgkJCQkJInJlc29sdmUtcHJlZmVyIjogImlwdjQiLAoJCQkJCSJjaGVjayI6IG51bGwsCgkJCQkJInBvcnQiOiAiPHBvcnQ+IgoJCQkJfQoJCQl9CgkJXSwKCQkiZnJvbnRlbmQiOiBbCgkJCXsKCQkJCSJwcm90b2NvbCI6ICJodHRwIiwKCQkJCSJkb21haW4iOiAibHkuZmlzaC5sb2NhbCIsCgkJCQkic3ViZG9tYWluIjogImplbCIsCgkJCQkicG9ydCI6ICI4MCIKCQkJfQoJCV0KCX0sCgkicmVkaXMiOiB7CgkJImJhY2tlbmQiOiBbCgkJCXsKCQkJCSJ1cmwiOiAidGNwOi8vcmVkaXM6NjM3OSIsCgkJCQkic2VydmVyIjogewoJCQkJCSJyZXNvbHZlcnMiOiAiZG9ja2VyLWJyaWRnZS1yZXNvbHZlciIsCgkJCQkJInJlc29sdmUtcHJlZmVyIjogImlwdjQiLAoJCQkJCSJjaGVjayI6IG51bGwsCgkJCQkJInBvcnQiOiAiPHBvcnQ+IgoJCQkJfQoJCQl9CgkJXSwKCQkiZnJvbnRlbmQiOiBbCgkJCXsKCQkJCSJwcm90b2NvbCI6ICJ0Y3AiLAoJCQkJImRvbWFpbiI6ICJseS5maXNoLmxvY2FsIiwKCQkJCSJzdWJkb21haW4iOiAicmVkaXMiLAoJCQkJInBvcnQiOiAiNjM3OSIKCQkJfQoJCV0KCX0sCgkicG9zdGdyZXMiOiB7CgkJImJhY2tlbmQiOiBbCgkJCXsKCQkJCSJ1cmwiOiAidGNwOi8vcG9zdGdyZXM6NTQzMiIsCgkJCQkic2VydmVyIjogewoJCQkJCSJyZXNvbHZlcnMiOiAiZG9ja2VyLWJyaWRnZS1yZXNvbHZlciIsCgkJCQkJInJlc29sdmUtcHJlZmVyIjogImlwdjQiLAoJCQkJCSJjaGVjayI6IG51bGwsCgkJCQkJInBvcnQiOiAiPHBvcnQ+IgoJCQkJfQoJCQl9CgkJXSwKCQkiZnJvbnRlbmQiOiBbCgkJCXsKCQkJCSJwcm90b2NvbCI6ICJ0Y3AiLAoJCQkJImRvbWFpbiI6ICJseS5maXNoLmxvY2FsIiwKCQkJCSJzdWJkb21haW4iOiAicG9zdGdyZXMiLAoJCQkJInBvcnQiOiAiNTQzMiIKCQkJfQoJCV0KCX0sCgkibGl2ZWNoYXQiOiB7CgkJImJhY2tlbmQiOiBbCgkJCXsKCQkJCSJ1cmwiOiAiaHR0cDovL2xpdmVjaGF0OjgwIiwKCQkJCSJzZXJ2ZXIiOiB7CgkJCQkJInJlc29sdmVycyI6ICJkb2NrZXItYnJpZGdlLXJlc29sdmVyIiwKCQkJCQkicmVzb2x2ZS1wcmVmZXIiOiAiaXB2NCIsCgkJCQkJImNoZWNrIjogbnVsbCwKCQkJCQkicG9ydCI6ICI8cG9ydD4iCgkJCQl9CgkJCX0KCQldLAoJCSJmcm9udGVuZCI6IFsKCQkJewoJCQkJInByb3RvY29sIjogImh0dHAiLAoJCQkJImRvbWFpbiI6ICJseS5maXNoLmxvY2FsIiwKCQkJCSJzdWJkb21haW4iOiAibGl2ZWNoYXQiLAoJCQkJInBvcnQiOiAiODAiCgkJCX0KCQldCgl9LAoJImFwaSI6IHsKCQkiYmFja2VuZCI6IFsKCQkJewoJCQkJInVybCI6ICJodHRwOi8vYXBpOjgwIiwKCQkJCSJzZXJ2ZXIiOiB7CgkJCQkJInJlc29sdmVycyI6ICJkb2NrZXItYnJpZGdlLXJlc29sdmVyIiwKCQkJCQkicmVzb2x2ZS1wcmVmZXIiOiAiaXB2NCIsCgkJCQkJImNoZWNrIjogbnVsbCwKCQkJCQkicG9ydCI6ICI8cG9ydD4iCgkJCQl9CgkJCX0KCQldLAoJCSJmcm9udGVuZCI6IFsKCQkJewoJCQkJInByb3RvY29sIjogImh0dHAiLAoJCQkJImRvbWFpbiI6ICJseS5maXNoLmxvY2FsIiwKCQkJCSJzdWJkb21haW4iOiAiYXBpIiwKCQkJCSJwb3J0IjogIjgwIgoJCQl9CgkJXQoJfSwKCSJyZWdpc3RyeSI6IHsKCQkiYmFja2VuZCI6IFsKCQkJewoJCQkJInVybCI6ICJodHRwOi8vcmVnaXN0cnk6ODAiLAoJCQkJInNlcnZlciI6IHsKCQkJCQkicmVzb2x2ZXJzIjogImRvY2tlci1icmlkZ2UtcmVzb2x2ZXIiLAoJCQkJCSJyZXNvbHZlLXByZWZlciI6ICJpcHY0IiwKCQkJCQkiY2hlY2siOiBudWxsLAoJCQkJCSJwb3J0IjogIjxwb3J0PiIKCQkJCX0KCQkJfQoJCV0sCgkJImZyb250ZW5kIjogWwoJCQl7CgkJCQkicHJvdG9jb2wiOiAiaHR0cCIsCgkJCQkiZG9tYWluIjogImx5LmZpc2gubG9jYWwiLAoJCQkJInN1YmRvbWFpbiI6ICJyZWdpc3RyeSIsCgkJCQkicG9ydCI6ICI4MCIKCQkJfQoJCV0KCX0KfQoK

networks:
  internal: {}
