version: '2.1'

services:
  api:
    build:
      context: .
      dockerfile: ./apps/server/Dockerfile
      args:
        - NPM_TOKEN
    networks:
      - internal
    depends_on:
      - postgres
      - redis
      - tick
      {{#workers}}
      - worker_{{idx}}
      {{/workers}}
      - balena-mdns-publisher
    environment:
      - DATABASE={{DATABASE}}
      - LOGENTRIES_TOKEN
      - LOGENTRIES_REGION
      - LOGLEVEL=crit
      - NODE_ENV
      - POD_NAME={{POD_NAME}}
      - PORT=80
      - POSTGRES_DATABASE={{POSTGRES_DATABASE}}
      - POSTGRES_HOST=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_PORT={{POSTGRES_PORT}}
      - POSTGRES_USER=docker
      - REDIS_HOST=redis
      - REDIS_PASSWORD=
      - REDIS_PORT={{REDIS_PORT}}
      - SENTRY_DSN_SERVER
      - SERVER_DATABASE={{SERVER_DATABASE}}
      - SERVER_HOST=http://api.ly.fish.local
      - SERVER_PORT=80
      - TEST_USER_ORGANIZATION={{TEST_USER_ORGANIZATION}}
      - TEST_USER_PASSWORD={{TEST_USER_PASSWORD}}
      - TEST_USER_ROLE={{TEST_USER_ROLE}}
      - TEST_USER_USERNAME={{TEST_USER_USERNAME}}
      - FS_DRIVER
      - AWS_ACCESS_KEY_ID
      - AWS_S3_BUCKET_NAME
      - AWS_SECRET_ACCESS_KEY
      - INTEGRATION_BALENA_API_APP_ID
      - INTEGRATION_BALENA_API_APP_SECRET
      - INTEGRATION_BALENA_API_OAUTH_BASE_URL=https://api.balena-cloud.com
      - INTEGRATION_BALENA_API_PRIVATE_KEY
      - INTEGRATION_BALENA_API_PUBLIC_KEY_PRODUCTION
      - INTEGRATION_BALENA_API_PUBLIC_KEY_STAGING=foobar
      - INTEGRATION_DEFAULT_USER
      - INTEGRATION_DISCOURSE_SIGNATURE_KEY
      - INTEGRATION_DISCOURSE_TOKEN
      - INTEGRATION_DISCOURSE_USERNAME
      - INTEGRATION_FLOWDOCK_SIGNATURE_KEY
      - INTEGRATION_FLOWDOCK_TOKEN
      - INTEGRATION_FRONT_TOKEN
      - INTEGRATION_GITHUB_APP_ID
      - INTEGRATION_GITHUB_PRIVATE_KEY
      - INTEGRATION_GITHUB_SIGNATURE_KEY
      - INTEGRATION_GITHUB_TOKEN
      - INTEGRATION_GOOGLE_MEET_CREDENTIALS
      - INTEGRATION_INTERCOM_TOKEN
      - INTEGRATION_OUTREACH_APP_ID
      - INTEGRATION_OUTREACH_APP_SECRET
      - INTEGRATION_OUTREACH_SIGNATURE_KEY
      - INTEGRATION_TYPEFORM_SIGNATURE_KEY
      - MAILGUN_DOMAIN
      - MAILGUN_BASE_URL
      - MAILGUN_TOKEN
      - MONITOR_SECRET_TOKEN
      - NPM_TOKEN
      - RESET_PASSWORD_SECRET_TOKEN
      - CI
      - REGISTRY_TOKEN_AUTH_CERT_ISSUER=api.ly.fish.local
      - REGISTRY_TOKEN_AUTH_CERT_KEY="LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSU4xWUw1WVRjb3NVVnhHdXlXMGt4cGE0ekxzbEpGQ2JvZUxIUWlpaW1vTkhvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFR0RRQ2FpK1FnNG9GZE9HMXZNdWdtMFA5bTViSUR3R29MNjg1aGVYR0hwZWJVblgxOGQvYwpQUTZGbDBQaklQam9iUzlCNW5oSTF1Y0p3MW8vclE2UXdnPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo="
      - REGISTRY_TOKEN_AUTH_CERT_KID="UkNVNTo2Q1RaOkJITjc6RlBCUjpKWUJIOjVHRVI6QVdQSDpIRk9aOjZaT0c6VVUzTzo3Q0gzOjZFU0sK"
      - REGISTRY_TOKEN_AUTH_JWT_ALGO=ES256
      - REGISTRY_HOST=registry.ly.fish.local
    healthcheck:
      interval: 30s
      retries: 5
      test:
        - CMD
        - curl
        - --fail
        - http://localhost:80/health
      timeout: 10s
    expose:
      - 80
    ports:
      - 9229
    restart: always
    labels:
      - "traefik.http.routers.api.rule=HostRegexp(`api.ly.fish.local`,`api.{uuid:[a-z0-9]+}.balena-devices.com`)"
      - "traefik.http.services.api-service.loadbalancer.server.port=80"
      - "traefik.enable=true"
  livechat:
    build:
      args:
        - SENTRY_DSN_UI='0'
        - SERVER_HOST=http://api.ly.fish.local
        - SERVER_PORT=80
        - NPM_TOKEN
      context: .
      dockerfile: ./apps/livechat/Dockerfile
    labels:
      - "traefik.http.routers.livechat.rule=HostRegexp(`livechat.ly.fish.local`)"
      - "traefik.http.services.livechat-service.loadbalancer.server.port=80"
      - "traefik.enable=true"
    depends_on:
      - api
      - balena-mdns-publisher
    networks:
      - internal
    environment:
      - NGINX_PORT=80
      - LIVECHAT_PORT=80
  postgres:
    image: balena/open-balena-db:4.1.0
    restart: always
    networks:
      - internal
    labels:
      - "traefik.tcp.routers.postgres.rule=HostSNI(`postgres.ly.fish.local`)"
      - "traefik.tcp.services.postgres-service.loadbalancer.server.port=5432"
      - "traefik.enable=true"
  redis:
    image: balena/balena-redis:0.0.3
    command: [sh, -c, "redis-server /usr/local/etc/redis/redis.conf --save ''"]
    restart: always
    networks:
      - internal
    labels:
      - "traefik.tcp.routers.redis.rule=HostSNI(`redis.ly.fish.local`)"
      - "traefik.tcp.services.redis-service.loadbalancer.server.port=6379"
      - "traefik.enable=true"
  tick:
    build:
      context: .
      dockerfile: ./apps/action-server/Dockerfile.tick
      args:
        - NPM_TOKEN
    depends_on:
      - postgres
      - redis
      - balena-mdns-publisher
    environment:
      - DATABASE={{DATABASE}}
      - LOGENTRIES_TOKEN
      - LOGENTRIES_REGION
      - NODE_ENV
      - POSTGRES_DATABASE={{POSTGRES_DATABASE}}
      - POSTGRES_HOST=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_PORT={{POSTGRES_PORT}}
      - POSTGRES_USER=docker
      - REDIS_HOST=redis
      - REDIS_PASSWORD=
      - REDIS_PORT={{REDIS_PORT}}
      - LOGLEVEL=crit
      - SENTRY_DSN_SERVER
      - CI
    restart: always
    networks:
      - internal
    ports:
      - 9230:9229
  ui:
    build:
      args:
        - NPM_TOKEN
      context: .
      dockerfile: ./apps/ui/Dockerfile
    depends_on:
      - api
      - balena-mdns-publisher
    environment:
      - SENTRY_DSN_UI='0'
      - SERVER_HOST=http://api.ly.fish.local
      - SERVER_PORT=80
      - NGINX_PORT=80
      - UI_PORT=80
      - NODE_ENV
    networks:
      - internal
    labels:
      - "traefik.http.routers.ui.rule=HostRegexp(`jel.ly.fish.local`,`jel.{uuid:[a-z0-9]+}.balena-devices.com`)"
      - "traefik.http.services.ui-service.loadbalancer.server.port=80"
      - "traefik.enable=true"
  {{#workers}}
  worker_{{idx}}:
    build:
      context: .
      dockerfile: ./apps/action-server/Dockerfile.worker
      args:
        - NPM_TOKEN
    depends_on:
      - postgres
      - redis
      - balena-mdns-publisher
      - tick
    environment:
      - DATABASE={{DATABASE}}
      - LOGLEVEL=crit
      - NODE_ENV
      - POSTGRES_DATABASE={{POSTGRES_DATABASE}}
      - POSTGRES_HOST=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_PORT={{POSTGRES_PORT}}
      - POSTGRES_USER=docker
      - REDIS_HOST=redis
      - REDIS_PASSWORD=
      - REDIS_PORT={{REDIS_PORT}}
      - SENTRY_DSN_SERVER
      - LOGENTRIES_TOKEN
      - LOGENTRIES_REGION
      - FS_DRIVER
      - AWS_ACCESS_KEY_ID
      - AWS_S3_BUCKET_NAME
      - AWS_SECRET_ACCESS_KEY
      - INTEGRATION_BALENA_API_APP_ID
      - INTEGRATION_BALENA_API_APP_SECRET
      - INTEGRATION_BALENA_API_OAUTH_BASE_URL=https://api.balena-cloud.com
      - INTEGRATION_BALENA_API_PRIVATE_KEY
      - INTEGRATION_BALENA_API_PUBLIC_KEY_PRODUCTION
      - INTEGRATION_BALENA_API_PUBLIC_KEY_STAGING=foobar
      - INTEGRATION_DEFAULT_USER
      - INTEGRATION_DISCOURSE_SIGNATURE_KEY
      - INTEGRATION_DISCOURSE_TOKEN
      - INTEGRATION_DISCOURSE_USERNAME
      - INTEGRATION_FLOWDOCK_SIGNATURE_KEY
      - INTEGRATION_FLOWDOCK_TOKEN
      - INTEGRATION_FRONT_TOKEN
      - INTEGRATION_GITHUB_APP_ID
      - INTEGRATION_GITHUB_PRIVATE_KEY
      - INTEGRATION_GITHUB_SIGNATURE_KEY
      - INTEGRATION_GITHUB_TOKEN
      - INTEGRATION_GOOGLE_MEET_CREDENTIALS
      - INTEGRATION_INTERCOM_TOKEN
      - INTEGRATION_OUTREACH_APP_ID
      - INTEGRATION_OUTREACH_APP_SECRET
      - INTEGRATION_OUTREACH_SIGNATURE_KEY
      - INTEGRATION_TYPEFORM_SIGNATURE_KEY
      - MAILGUN_DOMAIN
      - MAILGUN_BASE_URL
      - MAILGUN_TOKEN
      - MONITOR_SECRET_TOKEN
      - NPM_TOKEN
      - RESET_PASSWORD_SECRET_TOKEN
      - CI
    restart: always
    networks:
      - internal
    ports:
      - 923{{idx}}:9229
  {{/workers}}
  balena-mdns-publisher:
    image: 'balena/balena-mdns-publisher:master'
    network_mode: host
    cap_add:
      - SYS_RESOURCE
      - SYS_ADMIN
    security_opt:
      - 'apparmor=unconfined'
    tmpfs:
      - /run
      - /sys/fs/cgroup
    labels:
      io.balena.features.dbus: '1'
      io.balena.features.supervisor-api: '1'
    environment:
      MDNS_TLD: ly.fish.local
      MDNS_SUBDOMAINS: >-
        ["jel", "livechat", "api", "registry"]
      DBUS_SESSION_BUS_ADDRESS: 'unix:path=/host/run/dbus/system_bus_socket'
      CONFD_BACKEND: 'ENV'
  reverse-proxy:
    image: traefik:v2.4
    command: --api.insecure=true --providers.docker --providers.docker.endpoint="unix:///var/run/balena.sock" --providers.docker.exposedByDefault=false
    ports:
      - "80:80/tcp"
      - '5432:5432/tcp'
      - '6379:6379/tcp'
    labels:
      io.balena.features.balena-socket: true
    depends_on:
          - worker_1
          - worker_2
          - ui
          - tick
          - livechat
          - api
          - balena-mdns-publisher

networks:
  internal: {}
