version: '2.1'

services:
  livechat:
    image: balena/jellyfish-livechat
    build:
      context: .
      dockerfile: ./apps/livechat/Dockerfile
    depends_on:
      - api
      - balena-mdns-publisher
    networks:
      - internal
    environment:
      - SENTRY_DSN_UI=0
      - SERVER_HOST=http://api.ly.fish.local
      - SERVER_PORT=80
      - NGINX_PORT=80
      - LIVECHAT_PORT=80
  postgres:
    image: balena/open-balena-db:4.1.0
    restart: always
    networks:
      - internal
  redis:
    image: balena/balena-redis:0.0.3
    command: [sh, -c, "redis-server /usr/local/etc/redis/redis.conf --save ''"]
    restart: always
    networks:
      - internal
  ui:
    image: balena/jellyfish-ui
    build:
      context: .
      dockerfile: ./apps/ui/Dockerfile
    depends_on:
      - api
      - balena-mdns-publisher
    environment:
      - SENTRY_DSN_UI=0
      - SERVER_HOST=http://api.ly.fish.local
      - SERVER_PORT=80
      - NGINX_PORT=80
      - UI_PORT=80
      - NODE_ENV
    networks:
      - internal
  {{#workers}}
  {{name}}:
    image: balena/jellyfish
    build:
      context: .
      dockerfile: ./apps/server/Dockerfile
    depends_on:
      - postgres
      - redis
      - balena-mdns-publisher
    environment:
      - LOGLEVEL=crit
      - NODE_ENV
      - POSTGRES_HOST=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_PORT={{POSTGRES_PORT}}
      - POSTGRES_USER=docker
      - REDIS_HOST=redis
      - REDIS_PASSWORD=
      - REDIS_PORT={{REDIS_PORT}}
      - SENTRY_DSN_SERVER
      - FS_DRIVER
      - AWS_ACCESS_KEY_ID
      - AWS_S3_BUCKET_NAME
      - AWS_SECRET_ACCESS_KEY
      - INTEGRATION_BALENA_API_APP_ID
      - INTEGRATION_BALENA_API_APP_SECRET
      - INTEGRATION_BALENA_API_OAUTH_BASE_URL=https://api.balena-cloud.com
      - INTEGRATION_BALENA_API_PRIVATE_KEY
      - INTEGRATION_BALENA_API_PUBLIC_KEY_PRODUCTION
      - INTEGRATION_BALENA_API_PUBLIC_KEY_STAGING=foobar
      - INTEGRATION_DEFAULT_USER
      - INTEGRATION_DISCOURSE_SIGNATURE_KEY
      - INTEGRATION_DISCOURSE_TOKEN
      - INTEGRATION_DISCOURSE_USERNAME
      - INTEGRATION_FLOWDOCK_SIGNATURE_KEY
      - INTEGRATION_FLOWDOCK_TOKEN
      - INTEGRATION_FRONT_TOKEN
      - INTEGRATION_GITHUB_APP_ID
      - INTEGRATION_GITHUB_PRIVATE_KEY
      - INTEGRATION_GITHUB_SIGNATURE_KEY
      - INTEGRATION_GITHUB_TOKEN
      - INTEGRATION_GOOGLE_MEET_CREDENTIALS
      - INTEGRATION_INTERCOM_TOKEN
      - INTEGRATION_OUTREACH_APP_ID
      - INTEGRATION_OUTREACH_APP_SECRET
      - INTEGRATION_OUTREACH_SIGNATURE_KEY
      - INTEGRATION_TYPEFORM_SIGNATURE_KEY
      - MAILGUN_TOKEN
      - MONITOR_SECRET_TOKEN
      - RESET_PASSWORD_SECRET_TOKEN
      - CI
      - REGISTRY_TOKEN_AUTH_CERT_ISSUER=api.ly.fish.local
      - REGISTRY_TOKEN_AUTH_CERT_KEY="LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSU4xWUw1WVRjb3NVVnhHdXlXMGt4cGE0ekxzbEpGQ2JvZUxIUWlpaW1vTkhvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFR0RRQ2FpK1FnNG9GZE9HMXZNdWdtMFA5bTViSUR3R29MNjg1aGVYR0hwZWJVblgxOGQvYwpQUTZGbDBQaklQam9iUzlCNW5oSTF1Y0p3MW8vclE2UXdnPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo="
      - REGISTRY_TOKEN_AUTH_CERT_KID="UkNVNTo2Q1RaOkJITjc6RlBCUjpKWUJIOjVHRVI6QVdQSDpIRk9aOjZaT0c6VVUzTzo3Q0gzOjZFU0sK"
      - REGISTRY_TOKEN_AUTH_JWT_ALGO=ES256
      - REGISTRY_HOST=registry.ly.fish.local
    restart: always
    networks:
      - internal
    expose:
      - {{port}}
    ports:
      - 923{{idx}}:9229
  {{/workers}}
  balena-mdns-publisher:
    image: 'balena/balena-mdns-publisher:1.10.1'
    network_mode: host
    cap_add:
      - SYS_RESOURCE
      - SYS_ADMIN
    security_opt:
      - 'apparmor=unconfined'
    tmpfs:
      - /run
      - /sys/fs/cgroup
    labels:
      io.balena.features.dbus: '1'
      io.balena.features.supervisor-api: '1'
    environment:
      MDNS_TLD: ly.fish.local
      MDNS_SUBDOMAINS: >-
        ["jel", "livechat", "api", "registry"]
      DBUS_SESSION_BUS_ADDRESS: 'unix:path=/host/run/dbus/system_bus_socket'
      CONFD_BACKEND: 'ENV'
  haproxy:
    image: 'balena/open-balena-haproxy:2.11.3'
    cap_add:
      - SYS_RESOURCE
      - SYS_ADMIN
    security_opt:
      - 'apparmor=unconfined'
    tmpfs:
      - /run
      - /sys/fs/cgroup
    depends_on:
      {{#workers}}
      - {{name}}
      {{/workers}}
      - ui
      - livechat
      - balena-mdns-publisher
    ports:
      - '80:80'
      - '{{POSTGRES_PORT}}:{{POSTGRES_PORT}}'
      - '{{REDIS_PORT}}:{{REDIS_PORT}}'
    networks:
      internal:
        aliases:
          - jel.ly.fish.local
          - livechat.ly.fish.local
          - api.ly.fish.local
          - postgres.ly.fish.local
          - redis.ly.fish.local
    environment:
      DOMAIN_INC_UUID: 'false'
      AUTOGENERATE_CERTS: 'false'
      AUTH_TOKEN: <token>
      STATIC_DNS_IP: <ip>
      CONFD_BACKEND: 'ENV'
      PROXY_CONFIG: {{& HAPROXY_CONFIG}}

networks:
  internal: {}
