apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfish-livechat
  namespace: '{{{KATAPULT_KUBE_NAMESPACE}}}'
  labels:
    app.kubernetes.io/name: jellyfish-livechat
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: jellyfish-livechat
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
       maxSurge: 1
       maxUnavailable: 0 
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jellyfish-livechat
    spec:
      containers:
      - image: <<%&children.sw.containerized-application.jellyfish-livechat.data.assets.image.url%>>
        name: jellyfish-livechat
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 2
          periodSeconds: 5
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 5
          failureThreshold: 4
        envFrom:
          - configMapRef:
              name: jellyfish-livechat
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        stdin: true
        tty: true
        ports:
        - containerPort: 80
      imagePullSecrets:
        - name: com.docker.hub.travisciresin
